<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aakanshaparmar.blackboxsystem" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElderlyRegisterEnterName"
            android:label="@string/title_activity_elderly_register_enter_name"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".FamilyRegisterPage1"
            android:label="@string/title_activity_family_register_page1" >
        </activity>
        <activity
            android:name=".ElderlyRegisterPhoneNo"
            android:label="@string/title_activity_elderly_register_phone_no"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".ElderlyRegisterAddress"
            android:label="@string/title_activity_elderly_register_address"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name=".ElderlyRegisterPageFinal"
            android:label="@string/title_activity_elderly_register_page_final" >
        </activity>
        <activity
            android:name=".ElderlyHomePage"
            android:label="@string/title_activity_elderly_home_page" >
        </activity>
    </application>

</manifest>
